@using MvcDocs

@model MvcDocs.Models.Documents.IndexVersionsModel

@{
    ViewBag.Title = String.Format("Available Languages for {0} - {1}", Model.Product, Model.Language);
}

<div id="list-versions">
    <a href="@Url.Action("IndexProducts", "Documents")">All Products</a>
    <a href="@Url.Action("IndexLanguages", new { Model.Product })">@Model.Product.FormatTitleForDisplay()</a>
    <a href="@Url.Action("IndexVersions", new { Model.Product, Model.Language })">@Model.Language</a>
    <ul>
        @foreach (var version in Model.Versions)
        {
            <li><a href="@Url.Action("Index", new { product = Model.Product, language = Model.Language, version })">@version.FormatVersionForDisplay()</a></li>
        }
    </ul>
</div>
