@using MvcDocs

@model MvcDocs.Models.Documents.IndexLanguagesModel

@{
    ViewBag.Title = String.Format("Available Languages for {0}", Model.Product);
}

<div id="list-languages">
    <a href="@Url.Action("IndexProducts", "Documents")">All Products</a>
    <a href="@Url.Action("IndexLanguages", new { Model.Product })">@Model.Product.FormatTitleForDisplay()</a>
    <ul>
        @foreach (var language in Model.Languages)
        {
            <li><a href="@Url.Action("IndexVersions", new { product = Model.Product, language })">@language</a></li>
        }
    </ul>
</div>
