@model dynamic

@{
    ViewBag.Title = @Model.Title;
}

<div id="product-logo" class="@(Model.Product)-logo"></div>

<div id="search">
	<a href="@Url.Action("Index")">Index</a>
	@using (Html.BeginForm("Index", "Search", new { }, FormMethod.Get))
	{
		<label for="search-box">Search:</label><input id="search-box" name="term" type="text"/>
	}
</div>

<div id="doc-wrapper">
	<div id="head">
		<h1>@Html.Raw(Model.Title)</h1>
	</div>
    <div id="doc-content">
        <div id="doc-body">
            <div class="markdown-body">
                @Html.Raw(@Model.Content)
            </div>
        </div>
    </div>
</div>
